<html>
  <head>
    <title>Status</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
	{% block state %}
	<link rel="style" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="state-container">
	  <div class="form-flex" style="text-align:center;margin:0 Auto">
	    <form method="POST" action="/status/">
			{% csrf_token %}
			{{ form }}
			<input class="button" type="submit" value="Post">
		</form>
      </div>
	  <div class="display-container">
	    {% for item in displayState %}
		<div class="display-flex">
		  <div class="status-container" style="text-align:center">
            <div class="status"> {{ item.state }}</div>
			<div class="date">{{ item.date }}</div>
		  </div>
        </div>
        {% endfor %}
      </div>
	  <form action="/delete-all/" style="text-align:center">
        {% endblock %}
	    <input class="button" type="submit" value="Delete All">
	  </form>
	</div>
 </body>
</html>
